<div class="flex justify-between w-full">
  <app-page-title (search)="search($event)"></app-page-title>
  <select
    [(ngModel)]="selectedFilter"
    (change)="applyFilter()"
    class="block appearance-none w-24 bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
  >
    <option value="asc">Recent</option>
    <option value="desc">Latest</option>
  </select>
</div>

<div class="flex mt-6">
  <input
    class="w-full h-16 px-4 py-2 rounded shadow"
    type="text"
    placeholder="type your task"
    [(ngModel)]="newTask"
    (keydown.enter)="addTask()"
  />
</div>
<div class="flex flex-col mt-6">
  <app-task-list
    [taskList]="taskList"
    (completed)="onCompleted($event)"
    (important)="onImportant($event)"
    (clearImportant)="clearImportant($event)"
    (clearCompleted)="clearCompleted($event)"
    (delete)="deleteTask($event)"
  ></app-task-list>
</div>
